header {
  position: sticky;
  background: red;
  width: auto;
  height: auto;
  top: 0%;
  padding: 2.5px 5px;
}

header h1 {
  text-align: center;
}

nav {
  position: sticky;
  top: 15%;
}

nav ul {
  background: blue;
  text-align: center;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

main section {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  bottom: 15px;
}

main section h2 {
  margin: 15px 15px 10px 15px;
  text-align: justify;
}

main section p {
  margin: 0px 15px 10px 15px;
  text-align: justify;
}

main section button {
  float: right;
}

footer {
  position: sticky;
  top: auto;
  bottom: 0%;
  background: limegreen;
  text-align: center;
}
